/* can't touch this 🔨 */
.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* can't touch this 🔨 */

/* Grid */
.grid-container {
  display: grid;
  /*Axa X*/
  grid-template-columns:1fr 120px 20% 2fr;
  /*Axa Y*/
  grid-template-rows: 25px 200px 110px;
}